{% extends '::frontend.html.twig' %}
{% block title %} Biblioteca Médica Nacional{% endblock %}
{% block article %}

    <div class="art-postcontent art-postcontent-0 clearfix" style="text-align: left">
        <div class="art-content-layout">
            <div class="art-content-layout-row">
                <div class="art-layout-cell layout-item-0" style="width: 100%">
                    <p><span style="font-weight: bold;">Sobre los contenidos del Sitio Web de Gesti&oacute;n de Usuarios de la BMN </span>
                    </p>

                    <p>Este sitio fue creado para el uso y consumo de los trabajadores de la Biblioteca M&eacute;dica Nacional, de forma completamente exprofesa y sin &aacute;nimos de
                        lucro por parte de los desarrolladores. Es nuestro deseo que sea usado para el mejoramiento en la prestaci&oacute;n de servicios dentro de la instituci&oacute;N.</p>

                    <h3 style="text-align: left">Producciones PENIEL Virtual</h3>

                    <p>El "knowhow", los conocimientos, <br>si pertenecen a nosotros.</p>

                    <p>Pueden localizarnos a trav&eacute;s <br>de los v&iacute;nculos siguientes:</p>

                    <p><a href="http://www.twitter.com/manytostao">http://www.twitter.com/manytostao</a><br>
                        <a href="mailto%3amanytostao%40gmail.com">manytostao@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}