<!DOCTYPE html>
<html>
<body>
<div class="row" style="text-align: center; background-color: #d0cecf">
    <p align="center" style="font-size: large">Gracias por utilizar nuestros servicios. Nos es de mucha utilidad
        retroalimentarnos de sus dudas, opiniones y sugerencias.</p>
</div>
<div class="row" style="text-align: center; background-color: #d0cecf">
    <p align="center"><strong style="color: #6eb43f; font-size: x-large">Cont&aacute;ctenos</strong></p>
    <table>
        <tbody>
        <tr>
            <td>Biblioteca M&eacute;dica Nacional</td>
        </tr>
        <tr>
            <td>Calle 23 esquina N, Vedado. La Habana</td>
        </tr>
        <tr>
            <td>Tel&eacute;f.: 78350022</td>
        </tr>
        <tr>
            <td>Correo electr&oacute;nico: <a href="mailto:maria.carmen@infomed.sld.cu">maria.carmen@infomed.sld.cu</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>